@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap");

:root {
  --mustard: #e3b448;
  --sage: #cbd18f;
  --forest_green: #3a6b35;
  --white: #fcf6f5ff;
}

/* Reset all styles to default */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set font size and line height */
html {
  font-size: 16px;
  line-height: 1.5;
  font-family: "Noto Sans", sans-serif;
  background-color: var(--white);
}

/* Remove list styles */
ul,
ol {
  list-style: none;
}

/* Remove text decoration */
a {
  text-decoration: none;
  color: var(--white);
}

/* Reset form elements */
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* Set box-sizing for all elements */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  min-width: 100vh;
}

.logo {
  height: 75px;
  width: 150px;
}

footer {
  background-color: var(--forest_green);
  color: var(--white);
}
