---
---

<div class="above-footer">
  <p class="text">
    Need help? Call our award-winning customer support team on 020 1234 5678
  </p>
</div>

<style>
  .above-footer {
    background-color: var(--platinum);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
  }

  .text {
    color: var(--black);
    font-size: 1.5rem;
    font-weight: 600;
    padding: 2rem;
  }
</style>
