---
---

<div class="contact-menu" id="contact-menu">
  <div class="top-container">
    <h2 class="heading">Call Us</h2>
  </div>
  <div class="text-container-1">
    <p>Call our award-winning sales & support team 24/7</p>
    <p><a href="#">020 1234 5678</a></p>
  </div>
  <div class="text-container-2">
    <p>Global Directory</p>
    <p><a href="#">Contact numbers and business hours</a></p>
  </div>
</div>

<style>
  .top-container {
    display: flex;
    justify-content: flex-start;
    margin-top: 1rem;
  }

  .heading {
    font-size: 1.25rem;
    color: var(--black);
    margin-left: 2rem;
    margin-bottom: 1rem;
  }

  p > a {
    text-decoration: none;
    color: var(--black);
    font-weight: 600;
  }

  p > a:hover {
    text-decoration: underline;
  }

  .text-container-1,
  .text-container-2 {
    margin-left: 2rem;
    padding-bottom: 1.5rem;
  }
</style>
