---
---

<p class="disclaimer-text">
  This website is a demonstration project created for portfolio purposes only.
  The company, branding and domain registrar services offered on this site are
  not real, and any resemblance to actual registrar services is purely
  coincidental.
</p>
<ul class="legal-menu">
  <li class="legal-link"><a href="">Legal</a></li>
  <li class="legal-link"><a href="">Privacy Policy</a></li>
  <li class="legal-link"><a href="">Cookies</a></li>
</ul>

<style>
  .disclaimer-text {
    font-size: 0.75rem;
    width: 75%;
  }

  .legal-menu {
    display: flex;
    justify-content: space-evenly;
    width: 25%;
  }

  .legal-link {
    font-size: 0.9rem;
  }

  .legal-link :hover {
    border-color: var(--white);
    border-bottom: solid 0.1rem;
  }
</style>
