---
import Accordian from "./Accordian.astro";
---

<div class="headings-container">
  <h1 class="main-heading">
    Our domains and web hosting services are relied upon by millions of
    customers to bring their ideas online.
  </h1>
  <h3 class="sub-heading">Frequently Asked Questions</h3>
</div>
<Accordian />

<style>
  .headings-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
  }

  .main-heading,
  .sub-heading {
    text-align: center;
  }
  .main-heading {
    width: 40%;
    font-size: 2.25rem;
    margin-bottom: 1.25rem;
  }

  .sub-heading {
    font-size: 1.5rem;
    margin-bottom: 3rem;
  }
</style>
