---
import guidesLogo from "../images/guides-logo-invert.png";
import arrowRight from "../images/arrow-right.svg";
---

<div class="guides-link">
  <p class="text">We love taking your call.</p>
  <div class="img-container">
    <img class="guides-logo" src={guidesLogo} alt="Omega Guides logo" />
    <img class="arrow-img" src={arrowRight} alt="Arrow pointing right" />
  </div>
</div>

<style>
  .guides-link {
    margin-left: 5rem;
    margin-bottom: 16px;
  }

  .text {
    color: var(--platinum);
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 16px;
    cursor: pointer;
  }

  .img-container {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .guides-logo {
    height: 5rem;
    width: 20rem;
  }
  .arrow-img {
    height: 5rem;
    width: 7rem;
    margin-top: 13px;
  }

  @media screen and (max-width: 1140px) {
  }

  @media screen and (max-width: 480px) {
    .guides-logo {
      height: 3rem;
      width: 11rem;
    }
    .arrow-img {
      height: 3rem;
      width: 4rem;
      margin-top: 13px;
    }
  }
</style>
