---
---

<div class="text-banner">
  <p class="text">Prices exclude applicable taxes. ICANN fees included.</p>
</div>

<style>
  .text-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
    margin-top: 30px;
  }

  .text {
    font-size: 1rem;
  }

  @media screen and (max-width: 1140px) {
  }

  @media screen and (max-width: 480px) {
    .text {
      text-align: center;
      font-size: 0.8rem;
    }
  }
</style>
