---
---

<div class="nav-column">
  <div class="nav-heading">About Omega Domains</div>
  <ul class="nav-links">
    <li class="nav-link"><a href="">About Us</a></li>
    <li class="nav-link"><a href="">Contact Us</a></li>
    <li class="nav-link"><a href="">Careers</a></li>
    <li class="nav-link"><a href="">Legal</a></li>
    <li class="nav-link"><a href="">Omega Blog</a></li>
  </ul>
</div>

<div class="nav-column">
  <div class="nav-heading">Support</div>
  <ul class="nav-links">
    <li class="nav-link"><a href="">Contact</a></li>
    <li class="nav-link"><a href="">Online Support</a></li>
    <li class="nav-link"><a href="">Help Centre</a></li>
    <li class="nav-link"><a href="">Community</a></li>
    <li class="nav-link"><a href="">Resources</a></li>
  </ul>
</div>

<div class="nav-column">
  <div class="nav-heading">Resources</div>
  <ul class="nav-links">
    <li class="nav-link"><a href="">Webmail</a></li>
    <li class="nav-link"><a href="">WHOIS</a></li>
    <li class="nav-link"><a href="">ICANN Confirmation</a></li>
    <li class="nav-link"><a href="">Designers & Developers</a></li>
    <li class="nav-link"><a href="">Coporate Domains</a></li>
  </ul>
</div>

<div class="nav-column">
  <div class="nav-heading">Account</div>
  <ul class="nav-links">
    <li class="nav-link"><a href="">My Domains</a></li>
    <li class="nav-link"><a href="">Domain Name Renewals</a></li>
    <li class="nav-link"><a href="">Transactions & Billing</a></li>
    <li class="nav-link"><a href="">My Account</a></li>
    <li class="nav-link"><a href=""> Create Acoount</a></li>
  </ul>
</div>

<div class="nav-column">
  <div class="nav-heading">Shopping</div>
  <ul class="nav-links">
    <li class="nav-link"><a href="">Buy a Domain</a></li>
    <li class="nav-link"><a href="">Websites</a></li>
    <li class="nav-link"><a href="">Wordpress</a></li>
    <li class="nav-link"><a href="">Hosting</a></li>
    <li class="nav-link"><a href="">Email & Office</a></li>
    <li class="nav-link"><a href="">Web Security</a></li>
    <li class="nav-link"><a href="">Promotional Offers</a></li>
  </ul>
</div>

<div class="nav-column">
  <div class="nav-heading">Partner Program</div>
  <ul class="nav-links">
    <li class="nav-link"><a href="">Affiliate</a></li>
    <li class="nav-link"><a href="">Reseller Programs</a></li>
    <li class="nav-link"><a href="">Omega Pro</a></li>
  </ul>
</div>

<style>
  .nav-heading {
    font-weight: bold;
    padding-bottom: 1rem;
  }

  .nav-links {
    line-height: 2rem;
  }
</style>
