---
import FooterNavigation from "./FooterNavigation.astro";
import Socials from "./Socials.astro";
import Disclaimer from "./Disclaimer.astro";
---

<footer>
  <div class="footer-container">
    <nav class="footer-nav">
      <FooterNavigation />
    </nav>
    <hr class="footer-hr" />
    <div class="footer-social">
      <Socials />
    </div>
    <hr class="footer-hr" />
    <div class="footer-disclaimer">
      <Disclaimer />
    </div>
    <p class="footer-text">Omega Domains 2023</p>
  </div>
</footer>

<style>
  .footer-container {
    margin: 0rem 2.5rem;
  }

  .footer-nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0rem;
  }

  .footer-hr {
    height: 1px;
    border: none;
    background: var(--white);
    padding-bottom: 1re;
  }

  .footer-social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0rem;
  }

  .footer-disclaimer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0rem;
  }

  .footer-text {
    font-size: 0.85rem;
    text-align: center;
    padding: 1rem 0rem;
  }

  @media screen and (max-width: 1140px) {
    .footer-nav {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  @media screen and (max-width: 480px) {
    .footer-disclaimer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
</style>
