---
import womanImg from "../images/Woman-img.png";
import guidesLogo from "../images/guides-logo.png";
import SearchBar from "./SearchBar.astro";
---

<div class="guides-container">
  <div class="text-container">
    <div class="logo-container">
      <img class="logo" src={guidesLogo} alt="Omega Domains Logo" />
    </div>
    <h2 class="headline">Why use Omega Domains?</h2>
    <p class="para-1">
      Because we know that even the best technology is only as good as the
      people behind it. That’s why we offer expert, 24/7 phone support, plus a
      lot more.
    </p>
    <p class="para-2">Call our technical support team at 020 1234 5678.</p>
    <SearchBar
      placeHolder="Type a question..."
      searchClass="search-guides"
      barClass="search-bar-guides"
      btnClass="search-btn-guides"
    />
    <div class="links">
      <a href="#" class="link">View How-To Articles</a>
      <a href="#" class="link">Read Our Blog</a>
    </div>
  </div>
  <div class="img-container">
    <img
      class="woman-img"
      src={womanImg}
      alt="Image of a woman poointing towards our guide section"
    />
    <span class="img-text">Katie H. <br />Omega Guide</span>
  </div>
</div>

<style>
  .guides-container {
    background-color: var(--sage);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 3.5rem;
    padding-top: 3rem;
  }

  .logo-container {
    display: flex;
    align-items: flex-end;
    gap: 3px;
    margin-bottom: 16px;
  }

  .logo {
    height: 3rem;
    width: 12rem;
  }

  .headline {
    font-family: "Yeseva One", cursive;
    font-size: 3rem;
    margin-bottom: 16px;
  }

  .text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 3rem;
    width: 50%;
  }

  .para-1,
  .para-2 {
    font-size: 1rem;
    margin-bottom: 16px;
  }

  .para-1 {
    width: 70%;
  }

  .img-container {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
    margin-right: 3rem;
    width: 50%;
  }

  .woman-img {
    width: 400px;
    height: 550px;
  }

  .img-text {
    font-size: 0.75rem;
    margin-top: 1.5rem;
    display: flex;
    align-self: flex-start;
  }

  .links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 3rem;
  }

  .link {
    color: var(--black);
    font-weight: 600;
  }

  .link:hover {
    font-weight: 700;
    text-decoration: underline;
  }

  @media screen and (max-width: 1140px) {
    .guides-container {
      flex-direction: column;
    }

    .logo {
      height: 3.5rem;
      width: 14rem;
    }

    .text-container {
      align-items: center;
      width: auto;
      margin: 2rem;
    }

    .headline {
      text-align: center;
      font-size: 2.5rem;
    }

    .para-1,
    .para-2 {
      width: auto;
      text-align: center;
    }

    .img-container {
      margin-top: 3rem;
    }

    .woman-img {
      width: 400px;
      height: 500px;
    }

    .img-text {
      font-size: 0.75rem;
    }
  }

  @media screen and (max-width: 480px) {
    .logo {
      height: 2.5rem;
      width: 10rem;
    }

    .headline {
      font-size: 1.75rem;
    }

    .para-1,
    .para-2 {
      font-size: 0.8rem;
      margin-bottom: 12px;
    }

    .links {
      font-size: 0.75rem;
      margin-top: 2rem;
    }

    .woman-img {
      width: 250px;
      height: 350px;
    }

    .img-text {
      font-size: 0.6rem;
    }
  }
</style>
