---
import MainNavigation from "./MainNavigation.astro";
import SecondaryNavigation from "./SecondaryNavigation.astro";
import Hamburger from "./Hamburger.astro";
---

<header>
  <nav>
    <MainNavigation />
    <SecondaryNavigation />
    <Hamburger />
  </nav>
</header>

<style>
  nav {
    display: flex;
    align-items: center;
    margin: 0rem 2.5rem;
    padding-top: 1rem;
  }

  @media screen and (max-width: 1140px) {
  }

  @media screen and (max-width: 480px) {
    nav {
      justify-content: space-between;
      margin: 0;
    }
  }
</style>
