---
import MainNavigation from "./MainNavigation.astro";
import SecondaryNavigation from "./SecondaryNavigation.astro";
---

<header>
  <nav>
    <MainNavigation />
    <SecondaryNavigation />
  </nav>
</header>

<style>
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0rem 2.5rem;
    padding-top: 1rem;
  }
</style>
