---
import MainNavigation from "./MainNavigation.astro";
import SecondaryNavigation from "./SecondaryNavigation.astro";
---

<header>
  <nav>
    <MainNavigation />
    <SecondaryNavigation />
  </nav>
</header>
