---
---

<div class="container">
  <span class="clickable"
    >+, ** View product limitations and legal policies</span
  >
  <p class="disclaimer">
    Third-party logos and marks are registered trademarks of their respective
    owners. All rights reserved.
  </p>
</div>

<style>
  .container {
    margin-top: 3rem;
    margin-left: 3rem;
  }

  .clickable {
    text-decoration: underline;
    font-size: 1rem;
    font-weight: 600;
  }

  .clickable:hover {
    cursor: pointer;
  }

  .disclaimer {
    margin-top: 16px;
  }
</style>
