---
---

<div class="legal-modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <h3 class="modal-heading">View product limitations and legal policies</h3>
    <p class="modal-text">
      Sale/introductory pricing valid for the initial purchase term only.
      Product renewal pricing subject to change.
    </p>
    <p class="modal-text">
      Products will automatically renew until cancelled. You may turn off the
      auto-renewal feature by visiting your Omega account.
    </p>
    <p class="modal-text">
      + Due to registry restrictions, some domains are not eligible for domain
      privacy. Please see the Domain Name Proxy Agreement for details: Domain
      name proxy agreement
    </p>
    <p class="modal-text">
      One FREE ‪.UK, .CO.UK, .COM, .NET, .ORG, .CO, .INFO, .BIZ, .US, .CLUB,
      .COMPANY, .DESIGN, .EMAIL, .FIT, .LIFE, .LIVE, .ONLINE, .PRO, .ROCKS,
      .SHOP, .SITE, .SOLUTIONS, .SPACE, .STORE, .TECH, .TODAY, .VIP, .WORK,
      .WORLD, .XYZ‬ with purchase of a new 12-, 24- or 36-month plan. You must
      add the domain name into your cart before purchase, and you must select a
      domain term length equal to or less than the term length of your plan to
      qualify for the free domain offer. If you purchase a domain name for a
      term longer than the term of the plan, you will be charged for the
      additional registration term at the then-current rate. Cannot be used in
      conjunction with any other offer, sale, discount or promotion. Free domain
      offer applies only to the initial purchase term. After the initial
      purchase term, domains purchased through this offer will renew at the
      then-current renewal price.
    </p>
    <p class="modal-text">
      ** Your free trial is for one month. A credit card is not required to sign
      up for the free trial, however you can choose to subscribe to a Website
      Builder plan at any time during the free trial. Once the free trial ends
      you will be required to provide a credit card in your Omega account to
      continue with a Website Builder plan. If you already have a credit card on
      file in your Omega account, you can choose to turn on auto-renew for the
      Website Builder plan and will be charged at the end of the free trial.
      Plans will automatically renew until cancelled.
    </p>
  </div>
</div>

<style>
  .legal-modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 15.625rem;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: var(--black); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  }

  /* Modal Content */
  .modal-content {
    background-color: var(--white);
    margin: auto;
    padding: 20px;
    border: 1px solid var(--platinum);
    width: 80%;
  }

  /* The Close Button */
  .close {
    color: var(--black);
    float: right;
    font-size: 2.5rem;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    text-decoration: none;
    cursor: pointer;
    color: var(--mustard);
  }

  .modal-heading {
    font-size: 1.5rem;
    margin-bottom: 16px;
  }

  .modal-text {
    font-size: 1rem;
    margin-bottom: 16px;
  }
</style>
