---
import LegalModal from "./LegalModal.astro";
---

<div class="container">
  <span class="modal-link"
    >+, ** View product limitations and legal policies</span
  >
  <p class="disclaimer">
    Third-party logos and marks are registered trademarks of their respective
    owners. All rights reserved.
  </p>
</div>
<LegalModal />

<style>
  .container {
    margin-top: 3rem;
    margin-left: 3rem;
  }

  .modal-link {
    text-decoration: underline;
    font-size: 1rem;
    font-weight: 600;
  }

  .modal-link:hover {
    cursor: pointer;
  }

  .disclaimer {
    margin-top: 16px;
  }
</style>
