---
import logo from "../images/Logo-1.png";
import DomainNamesMegaMenu from "./DomainNamesMegaMenu.astro";
import WebsitesHostingMegaMenu from "./Websites&HostingMegaMenu.astro";
import EmailMarketingMegaMenu from "./Email&MarketingMegaMenu.astro";
---

<a href="#"><img class="logo" src={logo} alt="Omega Domains Logo" /></a>
<div class="header-links">
  <span class="header-link header-link-1">Domain Names</span>
  <DomainNamesMegaMenu />
  <span class="header-link header-link-2">Websites & Hosting</span>
  <WebsitesHostingMegaMenu />
  <span class="header-link header-link-3">Email & Office</span>
  <EmailMarketingMegaMenu />
</div>

<style>
  .logo {
    height: 4rem;
    width: 8rem;
  }
  .header-links {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    gap: 1.5rem;
    padding-left: 3rem;
  }
  .header-link {
    position: relative;
    color: var(--black);
    background-color: var(--white);
    font-size: 1rem;
    font-weight: bold;
    transition: 0.3s;
  }

  .header-link:hover {
    color: var(--forest_green);
    cursor: pointer;
  }

  @media screen and (max-width: 1140px) {
    .logo {
      height: 6.5rem;
      width: 12.5rem;
    }
    .header-links {
      display: none;
    }
  }

  @media screen and (max-width: 480px) {
    .logo {
      height: 5rem;
      width: 10rem;
    }
    .header-links {
      display: none;
    }
  }
</style>
