---
import logo from "../images/Logo-1.png";
---

<a href="#"><img class="logo" src={logo} alt="Omega Domains Logo" /></a>
<div class="header-links">
  <button class="header-link">Domain Names</button>
  <button class="header-link">Websites & Hosting</button>
  <button class="header-link">Email & Office</button>
</div>

<style>
  .logo {
    height: 3.125rem;
    width: 6.25rem;
  }
  .header-links {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    gap: 1.5rem;
    padding-left: 3rem;
  }
  .header-link {
    color: var(--black);
    background-color: var(--white);
    font-weight: bold;
  }

  .header-link:hover {
    color: var(--forest_green);
    cursor: pointer;
  }

  @media screen and (max-width: 480px) {
    .logo {
      height: 6.5rem;
      width: 12.5rem;
    }
    .header-links {
      visibility: hidden;
    }
  }
</style>
