---
import logo from "../images/Logo-1.png";
---

<div class="nav-links">
  <img class="logo" src={logo} alt="Omega Domains Logo" />
  <a href="/">Domain Names</a>
  <a href="/">Websites & Hosting</a>
  <a href="/">Email & Office</a>
</div>
