---
import logo from "../images/Logo-1.png";
import DomainNamesMegaMenu from "./DomainNamesMegaMenu.astro";
import WebsitesHostingMegaMenu from "./Websites&HostingMegaMenu.astro";
import EmailMarketingMegaMenu from "./Email&MarketingMegaMenu.astro";
import MobileMenu from "./MobileMenu.astro";
import downArrow from "../images/down-arrow.svg";
---

<a href="#"><img class="logo" src={logo} alt="Omega Domains Logo" /></a>
<div class="header-links">
  <span class="header-link header-link-1"
    >Domain Names<img
      class="down-arrow"
      src={downArrow}
      alt="down arrow"
    /></span
  >
  <DomainNamesMegaMenu />
  <span class="header-link header-link-2"
    >Websites & Hosting<img
      class="down-arrow"
      src={downArrow}
      alt="down arrow"
    /></span
  >
  <WebsitesHostingMegaMenu />
  <span class="header-link header-link-3"
    >Email & Office<img
      class="down-arrow"
      src={downArrow}
      alt="down arrow"
    /></span
  >
  <EmailMarketingMegaMenu />
</div>
<MobileMenu />
<style>
  .logo {
    height: 4rem;
    width: 8rem;
  }
  .header-links {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    gap: 1.5rem;
    padding-left: 3rem;
  }
  .header-link {
    position: relative;
    color: var(--black);
    background-color: var(--white);
    font-size: 1rem;
    font-weight: bold;
    transition: 0.3s;
  }

  .header-link:hover {
    color: var(--forest_green);
    cursor: pointer;
  }

  .down-arrow {
    height: 12px;
    width: 12px;
    margin-left: 10px;
  }

  @media screen and (max-width: 1140px) {
    .logo {
      height: 4.5rem;
      width: 9.5rem;
    }
    .header-links {
      display: none;
    }
  }

  @media screen and (max-width: 480px) {
    .logo {
      height: 3.5rem;
      width: 6.5rem;
    }
    .header-links {
      display: none;
    }
  }
</style>
