---
import logo from "../images/Logo-1.png";
---

<img class="logo" src={logo} alt="Omega Domains Logo" />
<div class="header-links">
  <a class="header-link" href="/">Domain Names</a>
  <a class="header-link" href="/">Websites & Hosting</a>
  <a class="header-link" href="/">Email & Office</a>
</div>

<style>
  .header-links {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-start;
    gap: 1.5rem;
    padding-left: 3rem;
  }
  .header-link {
    color: var(--black);
    font-weight: bold;
  }

  .header-link:hover {
    color: var(--forest_green);
  }
</style>
