---
import logo from "../images/Logo-1.png";
---

<div class="nav-links">
  <img class="logo" src={logo} alt="Omega Domains Logo" />
  <a href="/">Domain Names</a>
  <a href="/">Websites</a>
  <a href="/">Hosting</a>
  <a href="/">Wordpress</a>
  <a href="/">eCommerce</a>
  <a href="/">Email & Office</a>
</div>

<style>
  .logo {
    height: 75px;
    width: 150px;
  }
</style>
