---
---

<div class="grid-container">
  <div class="grid-item">.co.uk<br />£0.01/1st year</div>
  <div class="grid-item">.com<br />£0.01/1st year</div>
  <div class="grid-item">Wordpress<br />£5.99/per month</div>
  <div class="grid-item">Business Email<br />£1.99/per month</div>
  <div class="grid-item">SSL Security<br />£49.99/per year</div>
  <div class="grid-item">
    Web Hosting<br />£3.99/per month <br />Includes free SSL
  </div>
  <div class="grid-item">.io<br />£0.01/1st year</div>
  <div class="grid-item">Website Design Services</div>

  <style>
    .grid-container {
      display: grid;
      background-color: var(--black);
      grid-template-columns: auto auto auto auto;
      margin: 0 2.5rem;
      border: solid var(--black) 1px;
      grid-gap: 1px;
    }

    .grid-item {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--platinum);
      text-align: center;
      padding: 24px;
      transition: 0.3s;
    }

    .grid-item:hover {
      background: var(--forest_green);
      color: var(--platinum);
      cursor: pointer;
    }

    @media screen and (max-width: 1140px) {
      .grid-container {
        display: grid;
        grid-template-columns: auto auto;
      }

      .grid-item {
        padding: 18px;
        width: auto;
      }
    }

    @media screen and (max-width: 480px) {
      .grid-item {
        padding: 14px;
      }
    }
  </style>
</div>
