---
const { placeHolder,searchClass, barClass, btnClass } = Astro.props;
---

<form class={searchClass} action="#">
  <input class={barClass} type="text" placeholder={placeHolder} name="search" />
  <button class={btnClass} type="submit">Search</button>
</form>

<style>
  .search {
    text-align: center;
  }

  .search-bar {
    width: 60%;
    height: 3rem;
    background-color: var(--platinum);
    color: var(--forest_green);
    font-size: 1.2rem;
    margin-right: -5px;
    padding-left: 1rem;
  }

  .search-btn {
    cursor: pointer;
    width: 15%;
    height: 3rem;
    font-size: 1.2rem;
    color: var(--platinum);
    background-color: var(--forest_green);
    transition: 0.3s;
  }

  .search-btn:hover {
    background-color: var(--black);
    color: var(--platinum);
  }

  /* Domain Sesarch Banner Search Bar Styles */

  .search-domain {
    text-align: center;
  }

  .search-bar-banner {
    width: 35%;
    height: 3rem;
    background-color: var(--platinum);
    color: var(--forest_green);
    font-size: 1.2rem;
    margin-right: -5px;
    padding-left: 1rem;
  }

  .search-btn-banner {
    cursor: pointer;
    width: 10%;
    height: 3rem;
    font-size: 1.2rem;
    color: var(--platinum);
    background-color: var(--forest_green);
    transition: 0.3s;
  }

  .search-btn-banner:hover {
    background-color: var(--black);
    color: var(--platinum);
  }


  /* Guides Banner Search Bar Styles */

  .search-guides {
    width: 100%;
  }

  .search-bar-guides {
    width: 80%;
    height: 3rem;
    background-color: var(--platinum);
    color: var(--forest_green);
    font-size: 1rem;
    padding-left: 1rem;
    
  }

  .search-btn-guides  {
    cursor: pointer;
    width: 20%;
    height: 3rem;
    font-size: 1.2rem;
    color: var(--platinum);
    background-color: var(--forest_green);
    transition: 0.3s;
    margin-left: -5px;
  }

   .search-btn-guides:hover {
    background-color: var(--black);
    color: var(--platinum);
  }

  @media screen and (max-width: 1140px) {
    .search-bar-banner {
      width: 75%;
      font-size: 1rem;
      padding: 0%;
    }

    .search-btn-banner {
      width: 15%;
      font-size: 1rem;
    }
  }
  }

  @media screen and (max-width: 480px) {
    .search-bar-banner {
      width: 75%;
      font-size: 0.7rem;
      padding: 0%;
    }

    .search-btn-banner {
      width: 15%;
      font-size: 0.7rem;
      padding: 10px;
    }
  }
</style>
