---
---

<form class="search" action="#">
  <input
    class="search-bar"
    type="text"
    placeholder="Search for your next big idea..."
    name="search"
  />
  <button class="search-btn" type="submit">Search</button>
</form>

<style>
  .search {
    text-align: center;
  }

  .search-bar {
    width: 60%;
    height: 3rem;
    background-color: var(--platinum);
    color: var(--forest_green);
    font-size: 1.2rem;
    margin-right: -5px;
    padding-left: 1rem;
  }

  .search-btn {
    cursor: pointer;
    width: 15%;
    height: 3rem;
    font-size: 1.2rem;
    color: var(--platinum);
    background-color: var(--forest_green);
    transition: 0.3s;
  }

  .search-btn:hover {
    background-color: var(--sage);
    color: var(--forest_green);
  }
</style>
