---
import shoppingCart from "../images/shopping-cart.svg";
import downArrow from "../images/down-arrow.svg";
---

<ul class="secondary-menu">
  <li class="secondary-link">
    <a href=""
      >020 1234 5678 <img
        class="down-arrow"
        src={downArrow}
        alt="down arrow"
      /></a
    >
  </li>
  <li class="secondary-link"><a href="">Help</a></li>
  <li class="secondary-link"><a href="">Sign In</a></li>
  <a href=""><img src={shoppingCart} alt="Shopping Cart Icon" /></a>
</ul>

<style>
  .secondary-menu {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
    gap: 1.5rem;
  }

  .secondary-link > a {
    color: var(--black);
    font-size: 1rem;
  }

  .secondary-link > a:hover {
    color: var(--forest_green);
  }

  .down-arrow {
    height: 12px;
    width: 12px;
    margin-left: 10px;
  }

  @media screen and (max-width: 1140px) {
    .secondary-menu {
      display: none;
    }
  }

  @media screen and (max-width: 480px) {
    .secondary-menu {
      display: none;
    }
  }
</style>
