---
---

<ul class="secondary-menu">
  <li class="secondary-link"><a href="">Help</a></li>
  <li class="secondary-link"><a href="">Sign In</a></li>
  <li class="secondary-link"><a href="">Cart</a></li>
</ul>

<style>
  .secondary-menu {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 2rem;
  }

  .secondary-link > a {
    color: var(--forest_green);
  }

  .secondary-link > a:hover {
    color: var(--black);
    border-color: var(--black);
    border-bottom: solid 0.1rem;
  }
</style>
