---
import invertLogo from "../images/Logo-invert.png";
import facebookLogo from "../images/facebook.svg";
import twitterLogo from "../images/twitter.svg";
import instagramLogo from "../images/instagram.svg";
---

<img class="footer-logo" src={invertLogo} alt="Omega Domains Logo " />
<div class="social-logos">
  <a href=""
    ><img class="social-logo" src={facebookLogo} alt="Facebook Logo" /></a
  >
  <a href=""><img class="social-logo" src={twitterLogo} alt="Twitter Logo" /></a
  >
  <a href=""
    ><img class="social-logo" src={instagramLogo} alt="Instagram Logo" /></a
  >
</div>

<style>
  .footer-logo {
    height: 3.125rem;
    width: 6.25rem;
  }
  .social-logo {
    height: 2.5rem;
    width: 2.5rem;
  }

  @media screen and (max-width: 480px) {
    .footer-logo {
      height: 6.25rem;
      width: 12.5rem;
    }
    .social-logo {
      height: 3.5rem;
      width: 3.5rem;
    }
  }
</style>
