---
import websiteImg from "../images/website.jpeg";
---

<div class="mega-menu">
  <div class="top-container">
    <h2 class="column-heading heading-1">WEBSITES</h2>
    <h2 class="column-heading heading-2">HOSTING</h2>
    <h2 class="column-heading heading-3">WEB SECURITY</h2>
  </div>
  <div class="columns">
    <div class="column">
      <ol>
        <li class="nav-link">Website Builder</li>
        <li class="nav-link">Online Store</li>
        <li class="nav-link">Website Design Services</li>
        <li class="nav-link">All Website Options</li>
      </ol>
    </div>
    <div class="column">
      <ol>
        <li class="nav-link">Web Hosting</li>
        <li class="nav-link">WordPress Hosting</li>
        <li class="nav-link">WordPress eCommerce Hosting</li>
        <li class="nav-link">All Hosting Options</li>
      </ol>
    </div>
    <div class="column">
      <ol>
        <li class="nav-link">SSL Certificates</li>
        <li class="nav-link">Website Security</li>
        <li class="nav-link">Back Up Your Website</li>
        <li class="nav-link">All Web Security Options</li>
      </ol>
    </div>
    <div class="column">
      <img class="menu-img" src={websiteImg} alt="image of a laptop" />
      <h3>Let our experts build your site</h3>
    </div>
  </div>
</div>

<style>
  .mega-menu {
    /* display: none; */
    z-index: 1;
    position: absolute;
    background-color: var(--white);
    width: 100%;
    left: 0;
    margin-top: 69px;
    border-top: solid 1px var(--black);
    border-bottom: solid 1px var(--black);
  }

  .top-container {
    display: flex;
    justify-content: flex-start;
    margin-top: 1rem;
    margin-left: 68px;
    gap: 180px;
  }

  .column-heading {
    font-size: 1rem;
    color: var(--black);
    opacity: 0.5;
  }

  .heading-3 {
    margin-left: 60px;
  }

  .columns {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 0rem 4.25rem;
  }

  .column {
    margin-top: 2rem;
    margin-bottom: 2rem;
    line-height: 3rem;
  }

  .nav-link {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 600;
    padding: 3px;
    width: 80%;
  }

  .menu-img {
    height: 300px;
    width: 400px;
    border-radius: 3px;
  }
</style>
